
/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Inconsolata', monospace;
*/

/* globals */

* { 
    margin: 0; 
    padding: 0; 
   /* box-sizing: border-box;  */
}

body, html { 
    font: 13px "Roboto Mono", "monospace"; 
    height: 100%;
    width: 100%;
}

ul {
    list-style: none !important;
    margin: 0;
    padding: 0;
}

p, a {
    font-size: 12px;
}

/* header */

#header {
    padding: 15px;
    background-color: #84a0d4;
    color: white;
    border-bottom: 3px solid #4a70c9;

}

/* chat log */

#chatlog-header {
    text-align: right;
}
/* chat input */

.chat-bottom { 
    /*background: #000; 
        width: 100%; 
    */
    width: 100%;
    padding: 3px; 
    position: fixed; 
    bottom: 0; 

}

.chat-input input  { 
    /*   width: 90%; 
       padding: 10px; 
     */
    border: 0; 
    width: 100%;
    padding: 10px;
}

.btn.btn-default { 
    /*background: rgb(130, 224, 255) !important; */
   /* background: #ed7b64; */
    background: #4a70c9;
    border: none;  
    width: 89.25%;
    padding: 8px;    
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-transform: lowercase;
    letter-spacing: 1px;
}

#send {
    margin-left: 0;
}

/* messages window */

.chatlog-wrap {
    overflow-y: hidden;
}

#messages-wrap {
    background-color: #84a0d4;
    overflow-y: hide;
    margin: 0;
    padding: 0;
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    border: 3px solid #4a70c9;
}

#messages-log { 
    list-style-type: none; 
    list-style: none !important;
    margin: 0;
    padding: 0;
    /* padding: 5px 10px; */
}

#messages-log li {
    padding: 5px 10px;
}

#messages-log li:nth-child(odd) { 
    background: #eee; 
}

#messages-log li:nth-child(even) { 
    background: #84a0d4;
}

/* messages themselves */

#sender {
    font-size: 15px;
}

/* chat left sidebar */

.chatter-info {
    position: fixed;
    bottom: 0;
}

.online {
	border-radius: 50%;
	width: 30px;
	height: 30px; 
    color: green;
	/* width and height can be anything, as long as they're equal */
}

/* users */

.user-container {
    max-height: 200px;
    overflow-y: hidden;
}

#user-list {
    overflow-y: scroll;
}

.rooms-container {
    max-height: 200px;
    overflow-y: hidden;
}

#room-list {
    overflow-y: scroll;
}

#createRoom {
    width: 50%;
    margin-top: 15px;
}

li#online.room {
    list-style: none;
}

.online {
    color: green;
}

.offline {
    color: red;
}